@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700&subset=cyrillic');

* {
	box-sizing: border-box;
}

.card {
	margin: 73px auto;
    width: 642px;
    height: 515px;
    font-family: "Open Sans", san-serif;
    color: #fefefe;
	background-image: url("..//images/ball1_1.png");
	background-size: cover;
}
.info {
	width: 360px;
    height: 415px;
    margin-left: 70px;
    padding-top: 60px;
	position: relative;
}
.card_name {
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: -1.8px;
    word-spacing: 9px;
    width: 178px;
    height: 31px;
    padding-left: 12px;
    background-color: #db28b3;    
    border-radius: 4px;
}
.card_name span {
	letter-spacing: 0;
}
h2 {
	font-weight: 400;
	font-size: 54px;
	letter-spacing: -3.2px;
	line-height: 1.2;
	margin: 20px 0 21px -3px;
}
h2 span {
	text-transform: uppercase;
}
.card_description {
	font-size: 19px;
    font-weight: 300;
    letter-spacing: -2.1px;
    line-height: 1.25;
    padding-right: 126px;
}
/*button BUY*/
.card_buy {
    position: absolute;
    top: 59px;
    right: -123px;
}
.card_buy button {
	width: 119px;
    height: 52px;
    padding: 0;
	background: linear-gradient(#3bb1e0, #3a85bd);
	border: 0;
	border-radius: 7px;
	position: relative;
}
.card_buy button::after {
	width: 38px;
    height: 38px;
    background: linear-gradient(135deg, #3bb1e0, #3a85bd);
    border: 0;
    border-radius: 6px;
    display: block;
    content: " ";
    position: absolute;
    transform: rotate(45deg);
    top: 7px;
    right: -14px;
}
.card_buy button span {
	padding-left: 15px;
	font-family: "Open Sans", san-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	z-index: 2;
}
/*price*/
.card_price {
	width: 108px;
    height: 32px;
    background: #f5c600;
    position: absolute;
    bottom: -61px;
    right: -145px;
    text-align: center;
    border-radius: 4px;
}
.card_price span {
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 1.8px;
	color: #545628;
	padding-top: 10px;
}